# MATH 189 Final Project

## Statement of Project

Analyzing the wealth distribution among billionaires is vital for understanding broader economic inequalities that plague our current economy. This analysis extends insights to lower income groups, helping to evaluate the effectiveness of economic systems and policies in fostering equitable growth. By studying wealth accumulation dynamics, we hope to uncover patterns and barriers to wealth equality, aiding the understanding of our current economic climate and the creation of future inclusive economic strategies.

https://www.kaggle.com/datasets/nelgiriyewithana/billionaires-statistics-dataset

## Imports

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Importing Dataset

In [4]:
df = pd.read_csv('D:/Documents/School/WI24/MATH189/FinalData/billionaires.csv')
df[df['country'] == 'Latvia']

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
659,659,4200,Finance & Investments,Pyotr Aven,68.0,Latvia,NaN,"Oil, banking, telecom",Finance & Investments,Russia,...,2.8,"$34,117,202,555",88.1,99.4,74.7,22.9,38.1,1912789.0,56.879635,24.603189

## EDA

## Analysis